@page "/"

<AuthorizeView>
    <Authorized>
        <h1>
            Hi, @context.User.Identity.Name.
            <br/>
            Welcome back to Blazor Battles!
        </h1>
        Let's admire <NavLink href="army">your beloved army.</NavLink>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles!</h1>
        <UserLogin/>
    </NotAuthorized>
</AuthorizeView>