@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

Please log in below or <NavLink href="register">register</NavLink> for a new account.

<EditForm Model="@user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <p>
        <label>
            Username
        </label>
        <div>
            <InputText id="username" @bind-Value="user.Username"/>
        </div>
    </p>

    <p>
        <label>
            Password
        </label>
        <div>
            <InputText id="password" type="password" @bind-Value="user.Password"/>
        </div>
    </p>
    <button class="btn-primary">Login</button>
    <br/>
    <ValidationSummary />
</EditForm>


@code {
    private BlazorBattles.Shared.UserLogin user = new BlazorBattles.Shared.UserLogin();

    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync("isAuthenticated", true);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
