@using BlazorBattles.Client.Services
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthService AuthService
@inject IToastService ToastService

Please log in below or <NavLink href="register">register</NavLink> for a new account.

<EditForm Model="@user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <p>
        <label>
            Email
        </label>
        <div>
            <InputText class="form-control" id="email" @bind-Value="user.Email"/>
        </div>
    </p>

    <p>
        <label>
            Password
        </label>
        <div>
            <InputText class="form-control" id="password" type="password" @bind-Value="user.Password"/>
        </div>
    </p>
    <button class="btn-primary">Login</button>
    <br/>
    <ValidationSummary />
</EditForm>


@code {
    private BlazorBattles.Shared.UserLogin user = new BlazorBattles.Shared.UserLogin();

    private async void HandleLogin()
    {
        var result = await AuthService.Login(user);
        if (result.Success)
        {
            await LocalStorage.SetItemAsync<string>("authToken", result.Data);
            await AuthStateProvider.GetAuthenticationStateAsync();
        }
        else
        {
            ToastService.ShowError(result.Message);
        }

    }
}
